<footer class="footer" >

    <div class="footer-area">
    <div class="container">
    <div class="footer-top footer-padding">
    <div class="row justify-content-between">
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
    <div class="single-footer-caption mb-50">
    <div class="single-footer-caption mb-30">
    
    <div class="footer-logo">
        <br>
    <a href=""><img src="assets\img\estate1.png" width="120" height="80"></a>
    <h4 style="color: rgb(234, 237, 242); font-weight: bolder; font-family: Georgia, 'Times New Roman', Times, serif;">ACE-Home Finance</h4>
    </div>
    <div class="footer-pera" style="color: aliceblue;">
    <p>Smart move .. Smart Spaces</p>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
    <div class="single-footer-caption mb-50">
    <div class="footer-tittle">
    <h4 style="color: rgb(245, 208, 114);">Quick Link</h4>
    <ul >
    <li><a href="#" style="color: black;">About</a></li>
    <li><a href="#" style="color: black;">Offers &amp; Discounts</a></li>
    <li><a href="#" style="color: black;">Get Coupon</a></li>
    <li><a href="#" style="color: black;"> Contact Us</a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <div class="single-footer-caption mb-50">
    <div class="footer-tittle">
    <h4 style="color: rgb(245, 208, 114);">Our Products</h4>
    <ul>
    <li><a href="#" style="color: black;">New Home Loan</a></li>
    <li><a href="#" style="color: black;">Extension Home Loan</a></li>
    <li><a href="#" style="color: black;">Renovation Loan</a></li>
    <li><a href="#" style="color: black;">Rural Home Loan</a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
    <div class="single-footer-caption mb-50">
    <div class="footer-tittle">
    <h4 style="color: rgb(245, 208, 114);">Support</h4>
    <ul>
    <li><a href="#" style="color: black;">Frequently Asked Questions</a></li>
    <li><a href="#" style="color: black;">Terms &amp; Conditions</a></li>
    <li><a href="#" style="color: black;"> Privacy Policy</a></li>
    <li><a href="#" style="color: black;">Report a Payment Issue</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="footer-bottom">
    <div class="row d-flex justify-content-between align-items-center">
    <div class="col-xl-9 col-lg-8">
    <div class="footer-copy-right">
        
    <p  style="color: bisque; margin-left: 20%;">
    Copyright ©<script>document.write(new Date().getFullYear());</script>2022 All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="http://localhost:4200/#/main/home" target="_blank" style="color:bisque ;">ACE-Home Finanace  |</a>
    </p>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4">
<!--     
        <div class="col-md-4">
            <div class="row justify-content-end"> -->
              <div style="color: bisque; margin-left: 20%;">
                <i class="fa fa-facebook-square fa-lg" aria-hidden="true" style="color: blue;"></i>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              
               <a href="https://www.instagram.com"> <i class="fa fa-instagram fa-lg" aria-hidden="true" style="color: crimson;"></i></a>
               &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              
                <i class="fa fa-whatsapp fa-lg" aria-hidden="true" style="color: green;"></i>
            </div>
    <!-- <div class="footer-social f-right">
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fas fa-globe"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    </div> -->
    </div>
    </div>
    </div>
    </div>
    </div>
    
    </footer>
