
<div class="container" >
    <table class="table table-striped" align="center" border="2" style="border-radius: 1rem ; border-color: purple ;">
      <tbody>
        <tr ><th colspan="10" style="color: purple; background-color: rgb(232, 210, 231);" align="center"><h3 align="center" style="font-weight: bolder; ">Forwarded Sanctioned List</h3></th></tr>
        <th style="color: purple;">Appl Id</th>
        <th  style="color: purple;">Customer name</th>
        <th style="color: purple;">Mobile</th>
        <th  style="color: purple;">Tenure</th>
        <th style="color: purple;">Loan Amount</th>
        <th style="color: purple;"> Monthly Emi</th>
        <th style="color: purple;"> Disbursed Date</th>        
        <th style="color: purple;">Status</th>
       
        <th colspan="2" style="color: purple; align-items: center;">Action</th>
        <tr *ngFor="let e of disbursedList ">
          <td>{{e.applicationNo}}</td>
          <td>{{e.customerDetails.customerName}}</td>
          <td>{{e.customerDetails.customerMobileno}}</td>
          <td>{{e.sanctionLetter.loanTenure}}</td>
          <td>{{e.loanDisbursement.totalAmount}}</td>
          <td>{{e.sanctionLetter.monthlyEmiAmount}}</td>
          <td>{{e.ledger.ledgerCreatedDate}}</td>
          <td>{{e.statusCode}}</td> 
          <td><button class="btn btn-outline-success" [routerLink]="['emi-list', e.applicationNo]" data-toggle="modal" data-target=".bd-example-modal-xl">Show Emi Payments</button> &nbsp;
            <td><button class="btn btn-outline-success" [routerLink]="['ledger']" data-toggle="modal" data-target="#basicExampleModal">Ledger </button> &nbsp;

          </td>
        </tr>
        </tbody>
    </table>
    </div>
    <router-outlet></router-outlet>

