

<div class="container-fluid" >
  <div class="row align-items-center">
      <div class="col-md-4">
          <div class="nav-item" style="color:rgb(145, 187, 240) ;">
              <a class="nav-link" href="#"><img src="assets/img/estate1.png" width="140" height="80"> &nbsp;  <span class="logo" style="color: navy; font-size:x-large; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic; font-weight:900 ;"> ACE Home Finance</span></a>
          </div>
      </div>
    <div class="col-md-4">
         <div class="row justify-content-end">
      <a href="mailto:info.acehomefinance@gmail.com" class="p-4" style="color: darkblue; font-size:large;">
        <i class="pylon-icon-email1">
          <i class="fa fa-envelope" aria-hidden="true" style="color: darkslateblue"></i>
          </i> &nbsp; info.acehomefinance@gmail.com</a>
         </div>
    </div>
    <!-- <div class="col-md-3">
      <a href="#"
        ><i class="pylon-icon-clock2 fa-lg"
          ><i class="fa fa-clock-o fa-lg p-1" aria-hidden="true"></i></i>Mon - Sat 8:00 AM - 6:00 PM</a>
    </div> -->
    <div class="col-md-4">
      
      <div class="row justify-content-end">
          <div  class="col-3">
              <button class="button-64" role="button"  [routerLink]="['login']"><span class="text">Login</span></button>
            </div>
        <div class="col-1">
          <a href="https://www.facebook.com"><i class="fa fa-facebook-square fa-lg" aria-hidden="true" style="color: blue;"></i></a>
        </div>
        <div class="col-1">
         <a href="https://www.instagram.com"> <i class="fa fa-instagram fa-lg" aria-hidden="true" style="color: deeppink;"></i></a>
        </div>
        <div class="col-1">
          <a href="https://web.whatsapp.com/"><i class="fa fa-whatsapp fa-lg" aria-hidden="true" style="color: green;"></i></a>
        </div>
        
      </div>
    </div>
  </div>
</div>
