<div class="container">
<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:blue;font-size:16px;">
            # Our Values
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
        
            <p>1. Trust</p>
              <p>2. Transparency</p>
              <p>3. Integrity</p>
              <p>4. Excellence</p>
        
          </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:blue;font-size:16px;">
                # PURPOSE
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            
            <p>1. Purchase of new/old residential unit (house/ flat/villa/apartment etc.)</p>
            <p>2. Repairs/ improvements/ extension of the existing residential property.</p>
              <p>3. Take-over of housing loan availed from another bank / FI</p>
              <p>4. Completion of under construction residential unit.</p>
          </div>
        
            </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color:blue;font-size:16px;">
               # Our Presence
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
         
            <p>1. 24,000+ branches</p>
              <p>2. 1600+ member strong dedicated Sales Team</p>
        
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="color:blue;font-size:16px;">
               # OUR Features & Benefits
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <p>1. Low Interest rates. Interest calculation on a daily reducing balance</p>
            <p>2.Low Processing charges. No hidden costs.</p>
      
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="color:blue;font-size:16px;">
               # Value to Customers
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
        
            <p>1. Wide Product Range</p>
             <p>2. Interest Calculation on Daily Reducing Balance</p> 
              <p>3. Overdraft Facility available</p>
              <p>4. Low Interest Rates</p>
              <p>5. Low Processing Fees</p>
        
          </div>
        </div>
      </div>
</div>
