<fieldset><div class="container">
  <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:blue;font-size:16px;">
              what are steps to complete the home loan process ?
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" style="color:rgb(0, 0, 10);">
          <div class="card-body">
            1.	Fill The Loan Application Form & Attach The Documents<br>
            2.	Pay The Processing Fee<br>
            3.	Discussion With The Bank<br>
            4.	Valuation Of The Documents<br>
            5.	The Sanction/Approval Process<br>
            6.	Processing The Offer Letter<br>
            7.	Processing The Property Papers Followed By A Legal Check<br>
            8.	Processing A Technical Check & The Site Estimation<br>
            9.	The Final Loan Deal<br>
            10.	Signing The Agreement<br>
            11.	The Loan Disbursal<br>
            
          </div>
        </div>
      </div>
    
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"  style="color:blue;font-size:16px;">
              How do I update my new mailing address?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            
            In case you need assistance with updating a new mailing address different from the one provided when availing the loan with AceHomeLoan, visit your nearest Bajaj Ace Home Loan branch to update the details.
            Carry along an identity proof to validate your request. We also accept documents of your new residence as a valid proof to update the mailing address.
          
          </div>
        </div>
      </div>
    
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color:blue;font-size:16px;">
             What is Processing fees for loan application?
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            •	This is the amount collected for maintaining the applicant’s loan account.
            •	It includes sending some confidential paperwork (like IT certificates, post-dated cheque, etc.) every year.
            •	Ranges from 0.25 % to 0.50 % of the requested loan amount. for example, the applicant has applied for a home loan of Rs. 15 lakh, then the processing fee will be Rs. 3,750 (at 0.25%) and Rs. 7,500 (at 0.50%) respectively.    
          </div>
        </div>
      </div>
    
    
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="color:blue;font-size:16px;">
             What is the home loan sanctioning and disbursement process?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          Once the home loan application process is complete, Ace Home Loan proceeds with the application assessment, sanction, and disbursal of the loan amount. Here, applicants must understand that loan sanction and disbursal are two different processes completing the loan availing procedure for them.
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="color:blue;font-size:16px;">
            How do I update my mobile number and the email address registered under my home loan account?
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          Visit At our branch  : Customers can  visit one of our branches physically with a proof of identity to update their email address and contact number.  
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="color:blue;font-size:16px;">
            How will my Equated Monthly Instalment (EMI) be calculated?
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Ans. Ace Home Loan Finance  brings Home Loan EMI calculator to make EMI assessment convenient for users. The following values are essential to calculate EMIs payable. Fill in the values in the home loan interest calculator to arrive at an EMI amount suitable as per your repayment capacity.
          I.    Home loan amount
          II.    Repayment tenure
          III.    Interest rate applicable
          Once the values are entered, the calculator displays the EMI payable along with the total amount payable by the tenure’s end and the total interest accumulated. Change the loan amount and tenure values to arrive at a home loan EMI amount that suits your income capacity.
          
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" style="color:blue;font-size:16px;">
            Can the EMI be increased during the life of a loan?
          </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
        <div class="card-body">
          Ans. Yes, borrowers can request Ace Home Loan Finance to increase the EMIs payable for early repayment of the total loan liability. Such an increase leads to tenure reduction, helping borrowers clear their loan liability faster. Back this request with suitable documents required for home loan to establish your increased capacity of repayment and receive approval. An increase in EMI thus resets the repayment schedule, also changing the values of principal and interest.  
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header" id="headingEight">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" style="color:blue;font-size:16px;">
            Does the income tax certificate change when rates change?
          </button>
        </h5>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
        <div class="card-body">
          Ans: Yes, with any interest change, the income tax certificate issued to home loan borrowers, better known as the interest certificate, also requires a change. :  To claim the home loan tax benefits available under the Income Tax Act, 1961, borrowers need to obtain an interest certificate from the lending institution
        </div>
      </div>
    </div>
    
    
    <div class="card">
      <div class="card-header" id="headingNine">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine" style="color:blue;font-size:16px;">
            Can I repay my home loan ahead of schedule?
          </button>
        </h5>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
        <div class="card-body">
          Ans: Yes, Ace Home Loan Finance allows you to repay your housing loan ahead of the schedule .For that customer need to visit Branch.
        </div>
      </div>
    </div>
    
    
    <div class="card">
      <div class="card-header" id="headingTen">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen" style="color:blue;font-size:16px;">
            How much should my CIBIL score be to apply for a home loan?
          </button>
        </h5>
      </div>
      <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
        <div class="card-body">
          A CIBIL score of 750 or higher is ideal when you apply for a home loan.
        </div>
      </div>
    </div>
    
    
    <div class="card">
      <div class="card-header" id="headingEleven">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven" style="color:blue;font-size:16px;">
            If I foreclose my home loan, will my CIBIL score be impacted?
          </button>
        </h5>
      </div>
      <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
        <div class="card-body">
          Ans: When you foreclose your home loan, a report is sent to CIBIL, noting that the loan is ‘Closed.’ Cibil Score is a function of AI of TransUnion.
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header" id="headingTwelve">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve" style="color:blue;font-size:16px;">
            What is the TAT (turn-around time) for my foreclosure statement?
          </button>
        </h5>
      </div>
      <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
        <div class="card-body">
          Ans: A. Generally, the home loan foreclosure statement is generated within 21 days, barring any discrepancies in the documentation.
        </div>
      </div>
    </div>
    
    
    
    </div>
  </div>
  </fieldset>
  