
	<div class="row">
    <div class="col-md-6">
    <h3 style="color: dodgerblue; font-family:Georgia ; font-style: italic;margin-top: 10%;" align="center">Achieve your financial goal</h3><br>
    <h2 style="color: rgb(38, 11, 135); font-family:Times New Roman; font-style: italic; font-weight: 900;" align="center">“No matter where you are financially, quality time is always available and with just a bit of love and creativity you can easily create a home.”</h2><br><br>
    
    <!-- <button type="button" class="btn btn-outline-info" style="border-radius: 1rem; margin-left: 10%;" >Apply For Loan</button> -->
    </div>
  
  <div class="col-md-6">
  <div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets\img\Homeloan.jpg" alt="First slide" height="540" style="border-radius: 1rem;">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets\img\home1.jpeg" alt="Second slide" height="540" style="border-radius: 1rem;">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets\img\renovation1.jpg" alt="Third slide" height="540" style="border-radius: 1rem;">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets\img\homepage1.jpg" alt="forth slide" height="540" style="border-radius: 1rem;">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
  </div>
  </div>


 
